In [22]:
import pandas as pd 
import datetime as date
from matplotlib import pyplot as plt
df= pd.read_csv("Covid-19-Algeria.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   date                                  167 non-null    object
 1   Wilaya                                167 non-null    object
 2   Cas suspects                          3 non-null      float64
 3   Cas confirmés (Cumulés)               166 non-null    float64
 4   Nombre de décés                       163 non-null    float64
 5   Nombre de patients rétablis           64 non-null     float64
 6   Nouveau cas au niveau de l'Algérie    162 non-null    float64
 7   Décés au niveau de l'Algérie (Cumul)  164 non-null    float64
dtypes: float64(6), object(2)
memory usage: 10.6+ KB

In [4]:
df.head()

,date,Wilaya,Cas suspects,Cas confirmés (Cumulés),Nombre de décés,Nombre de patients rétablis,Nouveau cas au niveau de l'Algérie,Décés au niveau de l'Algérie (Cumul)
0,25/02/2020,Blida,2.0,1.0,0.0,0.0,1.0,0.0
1,28/02/2020,Blida,1.0,1.0,0.0,0.0,0.0,0.0
2,29/02/2020,Blida,0.0,-1.0,0.0,0.0,0.0,0.0
3,01/03/2020,Blida,NaN,3.0,0.0,0.0,2.0,0.0
4,02/03/2020,Blida,NaN,5.0,0.0,0.0,2.0,0.0

In [6]:
df.isnull().sum()

date                                      0
Wilaya                                    0
Cas suspects                            164
Cas confirmés (Cumulés)                   1
Nombre de décés                           4
Nombre de patients rétablis             103
Nouveau cas au niveau de l'Algérie        5
Décés au niveau de l'Algérie (Cumul)      3
dtype: int64

In [7]:
df.describe()

,Cas suspects,Cas confirmés (Cumulés),Nombre de décés,Nombre de patients rétablis,Nouveau cas au niveau de l'Algérie,Décés au niveau de l'Algérie (Cumul)
count,3.0,166.000000,163.000000,64.000000,162.000000,164.000000
mean,1.0,62.198795,6.251534,6.500000,71.240741,139.908537
std,1.0,110.686465,12.796288,12.533131,45.222954,78.833350
min,0.0,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.5,6.000000,1.000000,0.000000,45.000000,89.750000
50%,1.0,20.000000,2.000000,0.000000,69.000000,173.000000
75%,1.5,46.500000,5.000000,8.500000,103.000000,193.000000
max,2.0,508.000000,63.000000,58.000000,185.000000,235.000000

AttributeError: 'DataFrame' object has no attribute 'date'